<footer class="footer">
  <small>
Roommate matching system by Eric Sun, Mike Tong
  </small>
  <nav>
    <ul>
      <li><a href="https://www.facebook.com/chen.sun.524381?fref=ts">Eric Sun</a></li>
      <li><a href="http://www.tongwenliang.com/">Mike Tong</a></li>
    </ul>
  </nav>
</footer>

<!-- Smooth Scroll by DarkWolf --><a href="#" class="scrollup">Scroll</a><!-- Smooth Scroll by DarkWolf -->
<script type='text/javascript' src='http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201422'></script>
<script type='text/javascript' src='http://tongwenliang.com/wp-content/themes/adamos/js/small-menu.js?ver=20120206'></script>