<footer class="footer">
  <small>
Roommate matching system by Eric Sun, Mike Tong
  </small>
  <nav>
    <ul>
      <li><a href="https://www.facebook.com/chen.sun.524381?fref=ts">Eric Sun</a></li>
      <li><a href="http://www.tongwenliang.com/">Mike Tong</a></li>
    </ul>
  </nav>
</footer>